<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arqueros</title>
</head>
<body>
    <ul>
        {% for arquero in object_list %}
        <li>
            <p>Nombre: {{arquero.nombre}}</p>
            <p>
                <a href="{% url 'ArqueroDetalle' arquero.id %}">Ver</a>
                <a href="{% url 'ArqueroEditar' arquero.id %}">Editar</a>
                <a href="{% url 'ArqueroDelete' arquero.id %}">Borrar</a>
                
            </p>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'ArqueroCreacion' %}">Crear</a>
</body>
</html>