{% extends 'index.html' %} 
{% load static %} 
{% block cambioDeVista %}
<div class="container">
    <div class="row">
        {% for defensor in object_list %}
        <div class="col-md-4 mb-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">{{defensor.nombre}} {{defensor.apellido}}</h5>
                    <p class="card-text">Aca va la descripcion</p>
                    <a type="button" class="btn btn-info" href="{% url 'DefensorDetalle' defensor.id %}">Ver</a>
                    {% if user.id == defensor.usuario.id %}
                        <a type="button" class="btn btn-primary" href="{% url 'DefensorEditar' defensor.id %}">Editar</a>
                        <a type="button" class="btn btn-danger" href="{% url 'DefensorDelete' defensor.id %}">Borrar</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<a type="button" href="{% url 'DefensorCreacion' %}">Crear</a>
{% endblock %}