{% extends 'index.html' %} 
{% load static %} 
{% block cambioDeVista %}
<h2>Defensor</h2>
<div class="container-fluid">
    <li>Nombre: {{defensor.nombre}} </li>
    <li>Apellido: {{defensor.apellido}} </li>
    <li>Pie Habil: {{defensor.pie_habil}} </li>
    <li>Clubes Anteriores: {{defensor.cant_clubes_anteriores}} </li>
    <li>Estatura: {{defensor.estatura}} </li>
    <li>Fecha de Nacimento: {{defensor.fecha_nacimiento}} </li>
</div>
<h4>Contacto:</h4>
<div class="container-fluid">
    <li>Telefono: {{defensor.telefono}} </li>
    <li>Correo Elctronico: {{defensor.email}} </li>
    <li>Representado por: {{defensor.usuario}}</li> 
</div>
<div class="center">
    <a href="{% url 'DefensorList' %}">Regresar</a>
</div>
{% endblock %}