{% extends 'index.html' %} 
{% load static %} 
{% block cambioDeVista %}
<div class="container">
    <div class="row">
        {% for mediocampista in object_list %}
        <div class="col-md-4 mb-3">
            <div class="card" style="width: 18rem;">
                {% if mediocampista.foto_perfil %}
                    <img src="{{ mediocampista.foto_perfil.url }}" alt="Foto de perfil de {{ mediocampista.nombre }}">
                {% else %}
                    <p>No hay foto de perfil disponible.</p>
                {% endif %}
                <div class="card-body text-center">
                    <h5 class="card-title">{{mediocampista.nombre}} {{mediocampista.apellido}}</h5>
                    <p class="card-text">Aca va la descripcion</p>
                    <a type="button" class="btn btn-info" href="{% url 'MediocampistaDetalle' mediocampista.id %}">Ver</a>
                    {% if user.id == mediocampista.usuario.id %}
                        <a type="button" class="btn btn-primary" href="{% url 'MediocampistaEditar' mediocampista.id %}">Editar</a>
                        <a type="button" class="btn btn-danger" href="{% url 'MediocampistaDelete' mediocampista.id %}">Borrar</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-primary" type="submit" href="{% url 'MediocampistaCreacion' %}">Crear</a>
</div>
<br>
{% endblock %}