<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mediocampistas</title>
</head>
<body>
    <ul>
        {% for mediocampista in object_list %}
        <li>
            <p>Nombre: {{mediocampista.nombre}}</p>
            <p>
                <a href="{% url 'MediocampistaDetalle' mediocampista.id %}">Ver</a>
                <a href="{% url 'MediocampistaEditar' mediocampista.id %}">Editar</a>
                <a href="{% url 'MediocampistaDelete' mediocampista.id %}">Borrar</a>
                
            </p>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'MediocampistaCreacion' %}">Crear</a>
</body>
</html>